@import "_oa";

.navboxs {
  display: inline-block;
  width: 100% !important;
  height: 45px;
  background-color: rgba(242, 240, 240, 1.00);
  @include range-width(0, 800px){
    padding-left: 0 !important;
    padding-right: 0 !important;
  }


  .navbox {
    margin: 0 auto;
    max-width: 880px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    @include clearfix();
    

    > .ii {
      position: relative;
      display: inline-block;
      float: left;
      width: calc(100% / 6);
      padding: 0;
      text-align: center;
      height: 45px;
      line-height: 43px;

      + .ii {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 10px;
          display: inline-block;
          width: 1px;
          height: calc(100% - 10px * 2);
          // background-color: rgba(0, 0, 0, 1.00);
        }
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 16px;
        font-weight: 300px;
        text-decoration: none;
        color: rgba(0, 28, 42, 1.00);
        @include overflow-docx3();

        &:after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -2px;
          display: inline-block;
          width: 0;
          height: 5px;
          background-color: #00a5ec;
          @include opacity(0);
          @include transition(left 0.3s, width 0.3s, opacity 0.3s);
        }
        &:hover, &.active {
          &:after {
            left: 0;
            width: 100%;
            @include opacity(1);
          }
        }
      }
    }
  }
}



#page-title {
  // &.howtopimg {
    // background: url(../images/case/cbanner01.jpg) 50% 50% no-repeat;
    // background-size: cover;
    // padding-top: 25px;
    height: 240px;
    border: 1px solid rgba(255, 0, 0, .3);
    overflow: hidden;
    position: relative;

    video {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      min-width: 100%;
      min-height: 100%;
    }
    #play {
      position: absolute;
      left: calc(50% - 50px / 2);
      top: calc(50% - 50px / 2);
      display: inline-block;
      width: 50px;
      height: 50px;
      border: 1px solid rgba(255, 0, 0, .3);
      cursor: pointer;
      text-align: center;
      color: white;
    }
  // }
}


.content-wrap {

  &.howtoimg {
    background: url(../images/how/blue.jpg) 50% 0 no-repeat;

    .howh3 {
      font-size: 28px;
    }

    .howp {
      font-size: 14px;
      color: white;
      font-weight: 300;
      padding-right: 15px;
      padding-bottom: 15px;
    }
  }
}


.howtop1 {
  padding: 50px 0 80px 0;
  text-align: center;

  .how_top_title {
    font-size: 28px;
    font-weight: 600;
    color: rgba(0, 165, 236, 1.00);
    padding-bottom: 20px;
  }

  .how_top_type {
    font-size: 20px;
    color: rgba(60, 60, 60, 1.00);
    font-weight: 600;
    padding-bottom: 10px;


    &.noba {

      &:before, &:after {
        content: '';
      }
    }

    &:before, &:after {
      content: "\f10d";
      color: rgba(0, 165, 236, 1.00);
      font-family: 'FontAwesome';
      font-size: 16px;
      font-weight: 300;
    }

    &:before {
      margin-right: 15px;
    }

    &:after {
      margin-left: 15px;
      content: "\f10e";
    }
  }

  p {
    margin-bottom: 0 !important;
    font-size: 16px;
    color: rgba(60, 60, 60, 1.00);
    font-weight: 300;
  }

  .how_top_pic {
    width: 1165px;
    height: 425px;
    margin: 0 auto;
    margin: 60px 0;
  }

  .how_top_pic2 {
    width: 1170px;
    height: 274px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  button {
    cursor: pointer;
    @include border-radius(3px);
    font-size: 18px;
    text-align: center;
    color: rgba(91, 91, 91, 1.00);
    border: 1px solid rgba(91, 91, 91, 1.00);
    padding: 10px 20px;
    background-color: white;

    &:hover {
      color: rgba(0, 165, 237, 1.00);
      border: 1px solid rgba(0, 165, 237, 1.00);
    }
  }

  .how_de_type {
    display: inline-block;
    width: 90%;
    text-align: left;
    font-size: 16px;
    color: rgba(60, 60, 60, 1.00);
    font-weight: 400;
    padding-top: 15px;
  }  
}


.how {
  width: 1170px;
  // padding-bottom: 80px;

  .how_if_boxs {
    display: inline-block;
    width: 100%;
    padding-bottom: 100px;


    .if_title_boxs {
      border-bottom: 1px solid rgba(236, 232, 234, 1.00);
      margin-bottom: 15px;

      .if_title_box {
        display: inline-block;
        padding: 10px;
        border-bottom: 3px solid rgba(0, 165, 236, 1.00);

        color: rgba(0, 28, 42, 1.00);
        font-size: 24px;
        font-weight: 600;

        .if_blue {
          display: inline-block;
          color: rgba(0, 165, 236, 1.00);
        }
      }
    }

    .if_de {
      padding: 0 10px;
      font-size: 16px;
      color: rgba(60, 60, 60, 1.00);
      font-weight: 300;

      a {
        cursor: pointer;
        color: rgba(238, 132, 4, 1.00);

        &:hover {
          text-decoration: underline !important;
        }
      }
    }


    .item_boxs {
      position: relative;
      // display: inline-block;
      // width: 640px;

      &.show {
          .item {
            .icon {
              @include opacity(1);
            }
            .info {
              @include opacity(1);
            }
          }
      }
      
      .item {
        margin-top: 50px;
        padding: 0 10px;
        text-align: left;
        overflow: hidden;
        @include clearfix();
        // @include opacity(0);
        // @include transition(opacity .5s);

        .icon {
          display: inline-block;
          width: 230px;
          height: 103px;
          float: left;
          @include opacity(0);
          @include transition(opacity 1s);
        }

        .info {
          display: inline-block;
          float: left;
          width: calc(100% - 230px);
          // padding-left: 50px;
          @include opacity(0);
          @include transition(opacity 1s);

          .info_title {
            display: inline-block;
            font-size: 20px;
            color: rgba(0, 28, 42, 1.00);
            font-weight: 600;
            padding-bottom: 15px;

            .info_blue {
              display: inline-block;
              color: rgba(0, 165, 237, 1.00);
            }
          }

          .info_det {
            font-style: 16px;
            color: rgba(60, 60, 60, 1.00);
            font-weight: 300;

            .info_o {
              display: inline-block;
              color: rgba(238, 132, 4, 1.00);
            }
          }
        }

        // 兩區塊的間隔時間
        $s1: 0.5;
        // 圖示與文字間隔時間
        $s2: 0.3;

        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            .icon {
              @include transition-delay(#{$s1 * ($i - 1)}s);
            }
            .info {
              @include transition-delay(#{$s1 * ($i - 1) + $s2}s);
            }
          }
        }
      }  
    }
  } 
}


#webg {
  padding: 10px;
  background: url(../images/index/blue-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  border: 0;

  .fu_title {
    display: inline-block;
    font-weight: 600;
    font-size: 26px;
    color: white;
    padding: 70px 0;
  }

  .fu_boxs {
    display: inline-block;
    width: 100%;

    .col_one_fourth {
      @include border-radius(3px);
      background-color: rgba(244, 251, 255, 1.00);
      height: 235px;
      padding: 20px;

      p {
        font-size: 16px;
        font-weight: 600;
        color: rgba(60, 60, 60, 1.00);
        text-align: center;
      }

      .fu_pic {
        margin: 0 auto;
        width: 110px;
        height: 85px;
      }

      .fu_de {
        display: inline-block;
        font-weight: 300;
        font-size: 14px;
        color: rgba(60, 60, 60, 1.00);
        line-height: 1.4em;
        text-align: left;
      }
    }
  }
}



.work_ok {
  background-color: #f8f8f8;
  margin-bottom: 0;
  padding-bottom: 0;

  .okboxs {
    height: 300px;

    .col_one_fourth {

      &.ok {

        .ok_picbg {
          position: relative;
          width: 250px;
          height: 170px;

          .ok_littlepic {
            position: absolute;
            left: 10px;
            bottom: 10px;
            width: 45px;
            height: 45px;
          }
        }

        .ok1 {
          font-size: 16px;
          color: rgba(0, 28, 42, 1.00);
          font-weight: 600;
          margin-bottom: 0;
          margin-top: 10px;

          a {
            cursor: pointer;
            color: rgba(0, 28, 42, 1.00);

            &:hover {
              color: rgba(0, 165, 237, 1.00);
            }
          }
        }

        .ok2 {
          font-size: 13px;
          color: rgba(60, 60, 60, 1.00);
        }

        .ok3 {
          font-size: 15px;
          color: rgba(60, 60, 60, 1.00);
          font-weight: 600;
        }

      }
    }
  }

}


.ok_num {
  padding: 0 !important;
  border-top: 1px solid rgba(218, 218, 218, 1.00);
  border-bottom: 1px solid rgba(218, 218, 218, 1.00);

  .col_one_fourth {
    width: calc(100% / 4);

    &.ok_numboxs {
      position: relative;
      display: inline-block;
      height: 120px;
      padding: 30px 0;
      margin-bottom: 0 !important;
      margin-right: 0 !important;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 120px;
        border-left: 1px solid rgba(218, 218, 218, 1.00) !important;
      }

      .counter {
        font-size: 26px;
        font-weight: 600;
        color: rgba(0, 28, 42, 1.00);
      }

      p {
        font-size: 14px;
        color: rgba(114, 114, 114, 1.00);
        text-align: center;
        margin-bottom: 0 !important;
      }

      &:last-child {
        &:after {
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          height: 120px;
          border-right: 1px solid rgba(218, 218, 218, 1.00) !important;
        }
      }
    }
  }
  
}



.clients-grid {

  padding: 80px 0;

  li {
    &:before, &:after {
      border: 0;
    }
  }

}


































#tags2 {
  @include range-width(990px) {
    &.fix {
      position: fixed;
      top: 60px;
      left: 0;
      display: inline-block;
      width: 100%;
      background-color: rgba(242, 240, 240, 1.00);
      margin-bottom: 0 !important;
      z-index: 99999;
      border-bottom: 1px solid rgba(196, 196, 196, 1.00);

      + * {
        margin-top: 45px;
      }
    }
  }
}